.porfile-picture {
    border-radius: 100%;
}

.back {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -100;
    background-position: 0;
}